@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body {
    margin: 0;
    font-family: "Rubik", "Open Sans", Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: -0.1px;
    background-color: #f7f8fb;height: 100%;
}
body{background-image: linear-gradient(to bottom right, #0666bb, #359fff);}
img{max-width: 100%; height: auto;}
.main-content-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

            padding: 15px;


}

.shadow-box {    width: 600px;
    
        padding: 40px;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.logo-box {
    max-width: 150px;
    margin: 0 auto 30px;
}
.info-block table {
    border: solid 1px #ccc;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.info-block table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.info-block table th, .info-block table td {
    border: solid 1px #ccc;
    padding: 8px 10px;
}
.info-block {
    min-height: .01%;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
        width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.preloader { position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 9999999; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px; background: #fff; -webkit-transition: .3s all ease; -o-transition: .3s all ease; -moz-transition: .3s all ease; transition: .3s all ease }
.preloader-body { text-align: center }
.preloader-body { display: block; }
.preloader-body .rect { fill: none; stroke-width: 8px; stroke: #359fff; stroke-dasharray: 40; stroke-dashoffset: 50%; -webkit-animation: movedash 1.2s ease-in-out forwards 0s infinite; -moz-animation: movedash 1.2s ease-in-out forwards 0s infinite; -o-animation: movedash 1.2s ease-in-out forwards 0s infinite; animation: movedash 1.2s ease-in-out forwards 0s infinite }
.preloader-body:after { content: "Loading..."; display: block; color: #359fff; font-size: 15px; }
 @-webkit-keyframes movedash { to {
stroke-dashoffset:250%
}
}
 @-moz-keyframes movedash { to {
stroke-dashoffset:250%
}
}
 @-o-keyframes movedash { to {
stroke-dashoffset:250%
}
}
 @keyframes movedash { to {
stroke-dashoffset:250%
}
}
@media screen and (max-width: 767px){
.info-block {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
}

 @media only screen and (max-width:640px) {
.main-content-body, .buttons-group{ flex-direction: column;}
.shadow-box{padding: 15px; width: 100%; max-width: 450px;  }

}