@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body {
    margin: 0;
    font-family: "Rubik", "Open Sans", Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: -0.1px;
    background-color: #f7f8fb;
    height: 100%;
}
body{background-image: linear-gradient(to bottom right, #0666bb, #359fff);}
.main-content-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
}

.shadow-box {
    width: 600px;
    padding: 40px;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 1px;
}
.block-text-group{
    display:  -webkit-box;
    display:  -webkit-flex;
    display:  -moz-box;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



.form-wrapper .form-group {
    position: relative;
    margin-bottom:30px;

}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;
    padding-left: 15px;
    color: #757575;
    font-weight: 300;
    padding-top: 0px;
}

.button-submit{text-align: center;}

 .btn{background-color: #359fff;    margin: 5px 0;
    border: none;    display: block;
    min-width:250px;color: #fff; 
    display: inline-block;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;    cursor: pointer;
  }
 .btn:focus,  .btn:hover {
    background-color: #1885d2;
}


 @media only screen and (max-width:640px) {
.main-content-body, .block-text-group{ flex-direction: column;}
.shadow-box{padding: 15px; width: 100%;  }

}